
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.heading h1{
    margin: 0;
    padding: 0;
    font-size: 120px;
    color: white;
}

.heading:first-child{
    background-image: url(./alley.jpg);
    background-size: cover;
}

body{
    margin: 15px 15px 15px 15px ;
    padding: 15px 120px 15px 120px;
    margin-top: 90px;
    /* background-color: lightgrey; */
}


h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Luxurious Roman', cursive;
    color: maroon;
    text-decoration: underline;
}

p{
    font-size: 25px;
    text-align: justify;
    font-family: 'Luxurious Roman', cursive;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px ;
    border-radius: 25px;
    font-weight: 100;
    border: 2px solid black;
    color: violet;
    background: transparent;
    cursor: pointer;
    position: relative;
}

span{
    background: lightpink;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
    color: lightpink;
}

a{
    text-decoration: none;
    color: black;
}

